In [29]:
print("\033[1mFayyaz Ahmed\033[0m\nfayyazkhatri3@gmail.com\n0313-2971292");

Fayyaz Ahmed
fayyazkhatri3@gmail.com
0313-2971292

In [8]:
#QUESTION NO. 1

print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [10]:
#QUESTION NO. 2
import sys
print (sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [11]:
#QUESTION NO. 3
import datetime
now = datetime.datetime.now()
print (now);

2021-10-23 11:44:02.259012

In [12]:
#QUESTION NO. 4 copied
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 4
The area of the circle with radius 4.0 is: 50.26548245743669

In [14]:
#QUESTION NO. 5
firstName = input()
lastName = input()
print (lastName + " " + firstName)

fayyaz
ahmed
ahmed fayyaz

In [20]:
#QUESTION NO. 6

a = int(input())
b = int(input())

total = a+b

print ("sum of both input numbers is :" ,total)

5
5
sum of both input numbers is : 10

In [22]:
#QUESTION NO. 7
english = int(input())
if english < 100 and english > 80:
    print ("Grade in English : A+")
elif english < 80 and english > 70:
    print ("Grade in English : A")
else :
    print ("Fail")
    
math = int(input())
if math < 100 and math > 80:
    print ("Grade in Math : A+")
elif math < 80 and math > 70:
    print ("Grade in Math A")
else :
    print ("Fail")   

isl = int(input())
if isl < 100 and isl > 80:
    print ("Grade in ISL : A+")
elif isl < 80 and isl > 70:
    print ("Grade in ISL A")
else :
    print ("Fail")
    

total = english + math + isl;
average = total/3.0;
percentage = (total / 300.0) * 100;


print("Total marks = ", total , "out of 300") 
print("Average marks = ", average)
print("Percentage = ", percentage)

89
Grade in English : A+
90
Grade in Math : A+
77
Grade in ISL A
Total marks =  256 out of 300
Average marks =  85.33333333333333
Percentage =  85.33333333333334

In [25]:
#QUESTION NO. 8
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 5
This is an odd number.

In [27]:
#QUESTION NO. 9

l = ["karachi" , "Islamabad" , "lahore"]
lenght = len(l);
print (lenght);

3

In [28]:
#QUESTION NO. 10
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
print (sum(a));

232

In [32]:
#QUESTION NO. 11
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
a.sort();
print (a[-1]);

89

In [33]:
#QUESTION NO. 12
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i < 5:
        print(i)

1
1
2
3